.counters {
   display: flex;
   padding: 0 5px;
}

.likeCounter {
   font-size: 1.2rem;
}

.likeButton {
   background: none;
   border: none;
   cursor: pointer;
   transition: all .2s ease;
   outline: none;

   &:hover {
      transform: scale(1.2);
   }
}

.heart {
   width: 20px;
   margin-right: 3px;
   transition: all .2s ease;

   &.active {
      & path:nth-child(3) {
         fill: red;
      }
   }
}